<footer class="footer arabic" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 center">
                <a class="btn btn-link center" routerLink="/home">إضافة عضو</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 center">
                <a class="btn btn-link center" routerLink="/members">ملفات الاعضاء</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 center">
                <a class="btn btn-link center" routerLink="/traders">أوراق التاجر</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 center">
                <a class="btn btn-link center center" routerLink="/information">نشرة الاستعلامات</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 center">
                <a class="btn btn-link center" routerLink="/security">نشرة الاستعلامات خاص</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 center">
                <a class="btn btn-link center" routerLink="/excel">ملفات الاكسل</a>
            </div>
        </div>
    </div>
</footer>