footer {
	background-color: #eceff1;
	padding: 100px 0px 100px 0px;
	margin-top: 10%;
}
.btn-link {
	font-weight: 400;
	color: #007bff !important;
	text-decoration: none;
	font-size: 1rem;
}
.btn-link:hover {
	color: #0056b3 !important;
    text-decoration: underline;
}
.logo {
	width: 95%;
	margin-bottom: 11.5%;
}

